* {
  margin: 0px;
}

body {
  background-color: grey;
}

.team {
  background-color: grey;
  text-align: center;
  padding: 40px 0px;
  width: 33.33%;
  float: left;
}

.team img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.team h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: normal;
  font-size: 35px;
  text-transform: uppercase;
  color: antiquewhite;
}

.team p {
  font-family: cursive;
  font-size: 15px;
  color: azure;
}
